# Frontend (my-app)
my-app/node_modules
my-app/dist
my-app/dist-ssr
my-app/dev-dist
my-app/*.local
my-app/npm-debug.log*

# Backend
backend/node_modules
backend/.env
backend/uploads
backend/*.log

# Global / IDE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs
*.log
