PORT=5002
MONGO_URI=mongodb+srv://oasis_db_user:<db_password>@oasiscluster1.6gu71xu.mongodb.net/?appName=oasisCluster1
JWT_SECRET=your_jwt_secret
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
STRIPE_SECRET_KEY=your_stripe_secret_key
